*{
    font-family: "Roboto", sans-serif; 
    font-weight: 900;
    font-style: normal;
    color: white;
}
.bg-black{
    background-color: black;
}
a,button,i,span, .favoriteItem{
    background-color: transparent;
    color: rgb(90,92,93);
    border: none;
    outline: none!important;
    text-decoration: none;
    transition: 0.3s;
}
button::after{
    content: none!important;    
}
i:hover, button:hover, a:hover, .favoriteItem:hover, .h5{
    text-shadow: 1px 0 10px;
    color: white!important;
    background-color: transparent!important;
}
button:focus{
    box-shadow: none!important;
}
.delete-button:hover{
    color: rgb(254,100,100)!important;
}
.btn-primary{
    background-color: transparent;
    border: none;
}
.btn-primary:focus, .btn-primary:hover ,.btn-primary:active{
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
}
.menu{
    background-color: rgb(29,30,31)
}
.img-card{
    width: 100%;
    object-fit: cover;
    object-position: 100% -100%;
}
.img-card-mini{
    width: 100%;
    object-fit: cover;
    object-position: top;
    aspect-ratio: 137/150;
}
.single-card{
    border-radius: 6px;
    border: transparent;
    overflow: hidden;
    align-content: center;
    aspect-ratio: 10/10;
}
.card-text-title{
    font-size: 20px;
}
.card-text{
    color: rgb(90,92,93);
    font-size: 14px;
}
.navHover:hover{
    border-bottom: 4px solid #f8f9fa!important;
}

/*       ScrollBar 1 */

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 5px;
    width: 30px;
    background-color: white;
}
.navHide{
    display: flex;
}
.navShow{
    display: none;
}
.detail-tab-text{
    display: inline-block;
    color: #B5B7B7;
}
.stats-tab > div{
    border-bottom: white solid 1px;
}
.stats-tab> div:last-child{
    border-left: white solid 1px;
}

@media (min-width: 992px){
    .img-card{
        object-position: 100% -80%;
    }
    .single-card{
        align-content: normal;
        aspect-ratio: 16/6;
    }
    .navHide{
        display: none;
    }
    .navShow{
        display: block;
    }
    .stats-tab > div{
        border-right: white solid 1px;
        border-bottom: none;
    }
    .stats-tab> div:last-child{
        border: none;
    }
    .img-card{
        object-position: 100% 15%;
    }

}
/* Grid Description*/

